<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SetupProject" Language="1033" Version="1.0.0.0" Manufacturer="Raphael Stoeckli" UpgradeCode="77904482-fced-4387-8082-b8875553cb0e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<!-- 1) Standard dialogs: Welcome → License (we’ll add) → Scope (later) → InstallDir → Progress → Exit -->
		<UIRef Id="WixUI_Advanced" />

		<!-- Add this so Advanced shows the folder page -->
		<WixVariable Id="WixUI_InstallDir" Value="INSTALLFOLDER" />
		
		<UIRef Id="WixUI_ErrorProgressText" />

		<!-- 2) Our custom tweaks on ExitDialog below -->
		<UI>
			<DialogRef Id="ExitDialog" />
		</UI>

		<Feature Id="ProductFeature" Title="SetupProject" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
		
		<WixVariable Id="WixUI_LicenseRtf" Value="Resources\MIT-License.rtf" />
	</Product>



	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupProject" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
